body {
    background-color: #eeeeee;
}

.wbdv-grey-bg {
    background-color: #eeeeee;
}

.wbdv-hand-cursor {
    cursor: pointer;
    cursor: hand;
}

.wbdv-black-bg {
    background-color: #343a40 !important;
}

.wbdv-reduce-input{
    height:33px;
}